name: Docker Image CI/CD Pipeline

on:
  push:
    branches:
      - main # Trigger on pushes to the 'main' branch

jobs:
  build:
    runs-on: ubuntu-latest # Use an Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build application
        run: |
          npm install
          npm run build

      - name: Build Docker image
        run: |
          docker build -t mahavirniranjani/welcome-to-docker:latest .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }} # Store username in GitHub secrets
          password: ${{ secrets.DOCKER_PASSWORD }} # Store password in GitHub secrets

      - name: Build Docker image
        run: |
          docker build -t mahavirniranjani/welcome-to-docker:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push mahavirniranjani/welcome-to-docker:latest
